.header {
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.carousel-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bio-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.form-group {
  margin-top: 7px;
  margin-right: 10px;
}

.admin-warning {
  text-align: center;
}

.activity {
  height: 300px;
  overflow:auto;
}

.lastviewed {
  height: 150px;
  width: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
  float: left;
}

h3 {
 margin-top: 0;
}