.header {
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.carousel-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bio-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.game-options {
  display:inline-block;
  font-size: 25px;
}