@(message: String) @Main("Kaulana Apo") {
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="well">
        <div class="apo-image"></div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="well">
      
        <h1>Kaulana Apo</h1>
        
        <p>Watching 11-year-old Kaulana Apo (Oahu, Hawaii) tackle the largest South Shore swell to hit the Islands
          this year is a window on the future. Sitting down with him and his parents on shore leaves little doubt that
          this kid has everything it takes to make it big.</p>

        <p>A working class family from Ewa Beach, the Apo's approach to Kaulana's future is as fresh as the Hawaiian
          Tradewinds: No hyping, no hovering, no home schooling. A-grades, art and application in a traditional school
          setting are their formula. Kaulana was competing in the Hard Rock Cafe Surf Series, presented by HSA, this
          weekend and won his division. The result was personally gratifying and reinforced that he is on the right
          path, one step at a time. Right now he's working to qualify for the Hard Rock Cafe State Titles in May and is
          at the top of the Oahu rankings.</p>
      </div>
    </div>
  </div>
</div>
}
