@(message: String) @Main("John") {
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="jjflorence"></div>
    </div>

    <div class="col-md-8">
      <h2>John John Florence</h2>
      <p>John John Florence , the oldest of three children, grew up in Hale'iwa, in an ocean-side house at the
        Banzai Pipeline. He resides with his mother, Alexandra, and his two younger brothers Nathan and Ivan. He was
        introduced to surfing by Alexandra, who is a surfer herself. Florence claims he rode a surf board at the age of
        six months, wearing a life vest on his father John's board; he was riding on his own by the age of three.</p>
    
     <p>Florence became well known in the winter of late 2005 and early 2006 when he became the youngest ever surfer to
        compete in the Vans Triple Crown of Surfing. He had previously won five amateur awards, the 2003 1st NSSA
        Nationals Open Mini Grom, the 2005 1st NSSA Nationals Open Boy's, the 2005 NSSA Open Boys and the Explorer
        Menehune Champion. He did not pass the first round, but he did score higher than Shane Dorian, a professional
        surfer twenty years Florence's senior. Afterwards, Florence said he was "pretty scared" but that he was "happy
        with how [he] did". Surfer Kelly Slater has said of Florence "John John's going to know the waves on North Shore
        like no one we've ever seen before." Singer Jack Johnson, who grew up in the same town as Florence, said he is
        "a little unprecedented".</p>


    </div>

  </div>
</div>

}
