@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, searchForm: Form[views.formdata.SearchFormData], surferGenderMap: Map[String, Boolean], surferCountryMap: Map[String, Boolean], loginForm: Form[views.formdata.LoginFormData], regForm: Form[views.formdata.RegistrationFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo, searchForm, surferGenderMap, surferCountryMap) {

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
      </div>
      <div class="col-md-5">
        @regform(routes.Application.postReg(), regForm("regName"), regForm("regEmail"), regForm("regPassword"))
      </div>
    </div>
  </div>
  
  @if(!models.UserInfoDB.adminDefined()) {
    <div class="alert alert-danger admin-warning">
      Warning: Admin credentials undefined!
    </div>
  }
}
