@(message:String, 
  isLoggedIn: Boolean, 
  userInfo: UserInfo,
  searchForm: Form[views.formdata.SearchFormData],
  surferGenderMapSearch: Map[String, Boolean],
  surferCountryMap: Map[String, Boolean],
  surferForm: Form[views.formdata.SurferFormData], 
  surferGenderMap: Map[String, Boolean], 
  footStyles: List[String]) 

@import helper._
@import bootstrap3._

@Main(message, isLoggedIn, userInfo, searchForm, surferGenderMapSearch, surferCountryMap) {
<div class="container">

  @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {

    <!-- Name -->
    @text(surferForm("name"),
          nolabel=false,
          label="Name",
          placeholder="Surfers Name", 
          help="The name of the surfer.")
          
    <!-- Home -->
    @text(surferForm("home"),
          nolabel=false,
          label="Home",
          placeholder="Surfers Home",
          help="Where this surfer hails from.")
          
    <!-- Country -->
    @text(surferForm("country"),
          nolabel=false,
          label="Country",
          placeholder="Surfers Country",
          help="The country of origin of the surfer.")
    
    <!-- Awards -->
    @text(surferForm("awards"),
          nolabel=false,
          label="Awards",
          placeholder="Awards",
          help="List titles and other surfing awards.")
         
  <!-- Footstyle -->
  @radiobuttons(surferForm("footStyle"),
                label = "Foot Style",
                buttonNameList = footStyles,
                help = "Select this surfers foot style.")
          
    <!-- Carousel URL -->
    @text(surferForm("carouselUrl"),
          nolabel=false,
          label="Carousel URL",
          placeholder="http://",
          help="A URL to the picture to be presented in the home page carousel for this surfer.")
          
    <!-- Bio URL -->
    @text(surferForm("bioUrl"),
          nolabel=false,
          label="Bio URL",
          placeholder="http://",
          help="A URL to the picture to be presented in the bio page for this surfer.")
       
    <!-- Bio -->
    @bootstrap3.textarea(surferForm("bio"),
          rows="10",
          label="Bio",
          placeholder="",
          help="One paragraph description of this surfer.")
          
    <!-- Slug -->
    @slug(surferForm("slug"),
          surferForm("status"),
          label="Slug",
          help="Slug field cannot be edited for an existing surfer.")

    <!-- Gender -->
    @bootstrap3.select(surferForm("gender"),
            nolabel=false,
            label="Gender",
            optionMap=surferGenderMap,
            isMultiple=false,
            placeholder="Please select a value",
            help="The gender of surfer for placement in the menubar.")
    
    <!-- Status -->
    @hidden(surferForm("status"))
          
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  }
</div>
}
