@(page: String,
 isLoggedIn: Boolean,
 userInfo: UserInfo,
 searchForm: Form[views.formdata.SearchFormData],
 surferGenderMap: Map[String, Boolean],
 surferCountryMap: Map[String, Boolean],
 results: List[Surfer])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo, searchForm, surferGenderMap, surferCountryMap) {
  <div class="container">
    @if(results != null) {
        <h1>Results: @results.size() surfers found</h1>
        @if(results.isEmpty()) {
            Try <a href="@routes.Application.search()">again</a>?
        } else {
            <table class="table table-bordered">
                <tr>
                    <th width="200px">Name</th>
                    <th>Biography</th>
                </tr>
                @for(surfer <- results) {
                    <tr>
                        <td><a href="@routes.Application.getSurfer(surfer.getSlug())"">@surfer.getName()</a></td>
                        <td>
                        @if(surfer.getBio().length() >= 40) {
                        @surfer.getBio().substring(0, 39)...
                        } else {
                        @surfer.getBio()
                        }
                        </td>
                    </tr>
                }
            </table>
        }
    }
  </div>
}