@(page:String, 
  isLoggedIn: Boolean, 
  userInfo: UserInfo,
  surferForm: Form[views.formdata.SurferFormData]) 

@import helper._

@Main(page, isLoggedIn, userInfo) { 
<div class="container">

  @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {
   
    <div class="col-md-4">
      <div class="well">
        <div class="bio-image" style="background-image: url('@surferForm("bioUrl").value');"></div>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="well">
      
        <h1>@surferForm("name").value</h1>
        <p><strong>Home Town: </strong>@surferForm("home").value</p>
        <p><strong>Country: </strong>@surferForm("country").value</p>
        <p><strong>Awards: </strong>@surferForm("awards").value</p>
        <p><strong>Foot Style: </strong>@surferForm("footStyle").value</p>
        <p><strong>Biography: </strong>@surferForm("bio").value</p>
        
        @if(isLoggedIn) {
          <a href="@routes.Application.manageSurfer(surferForm("slug").value)" class="pull-left">Edit</a>
          <a data-toggle="modal" href="#confirmDelete" class="pull-right">Delete</a>&nbsp;
        }
      </div>
    </div>
  }
  
 
  <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Are you sure you want to delete this surfer?</h4>
        </div>
        <div class="modal-body">
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" 
             class="btn btn-primary"
             href="@routes.Application.deleteSurfer(surferForm("slug").value)">
          Delete
         </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
}
